@import "tailwindcss";

body{
    font-family: "Libre Franklin", sans-serif;
}

@keyframes shine {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}

.animate-shine {
  background-size: 200% auto;
  box-shadow: 0 0 8px #00ba0f;
  animation: shine 2s linear infinite;
}
